body{
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    background-color:#75f8cc;
    color: black
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Bebas Neue";
    font-size: 40pt;
    text-align: center;
}
h1 {
    font-size: 60px;
}

header {
text-align: center;
}

/*Hero Section*/

#hero, footer {
    color: black;
    border: 5px solid black;
    background-color: #75f8cc;
    text-align: center;
    padding:10px;
}

#hero img {
    width: 300px;
}

/*Bio Section*/
#bio {
 text-align: center;
} 
 /*Hobbies*/
#hobbies ul li {
    text-align: center;
}

/*video*/
#video {
    border: 5px solid;
    margin: bottom 2rem; 
    text-align: center;;
}

#video img {
    max-width: 100%;
}

#video figure {
    text-align: center;
}


/*Gallery*/

#gallery {
    border: 5px solid;
    margin: bottom 2rem; ;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}

/*Literature*/
#lit {
    border: 2px solid;
    margin-bottom: 30rem;
    text-align: center;

}

#lit div {
    padding:2rem;
    max-width: 30rem;
    margin: 0 auto;

}

#lit div p {
    padding: 0.3rem 0;

}
